:root {
    --blue: rgb(98, 98, 255);
    --dark_blue: rgb(0, 0, 214);
    --primarydark: #13161e;
    --secondarydark: #0d1016;
    --white: white;
    --grey: rgb(107, 107, 107);
    --light_grey: rgb(187, 187, 187);
    --black: black;
    --active: rgb(187, 187, 187);
    --greyLow: rgba(107, 107, 107, 0.589);
  }

html{
    
}
a{
    color: var(--white);
    text-decoration: none;
}
.loginButton:active{
    background-color: var(--light_grey);
}

header{
    background-color: var(--secondarydark);
    color: var(--white);
    position: relative;
}

body{ 
    background-image: url(2871137_6714.jpg);
    color: var(--white);
    background-repeat: no-repeat;   
    background-size: cover; 
    margin: auto;
    position: sticky;
    height: 2000px;
}

footer{
    background-color: var(--grey);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0
}

.line{
    width: auto;
    background-color: var(--light_grey);
    height: 0.2cm;
}

.h1{
    position: inline-block;
    margin-top: -12px;
    padding-top: 10PX;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: var(--grey);
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    font-family: arial;
    font-size: 120%;
}

.logo{
    width: 70px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 70px;
}

.loginButton{
    height: 1.2cm;
    color: var(--black);
    margin-right: -1140px;
    margin-top: 22px;
    border-radius: 15px;
    width: 3cm;
    border-width: 0px;
}

.d1{
    width: auto;
    font-size: 120%;
}

.livros{
    margin-top: 50px;
    margin-bottom: 50px;
    size: 200%;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.livro{
    margin-left: 1.7cm;
    margin-right: 1.7cm;
    text-align: center;
    background-color: var(--greyLow);
    padding: 0.3cm;
    border-radius: 5px;
}